@import '../config';

#community {
  @include flexCenter(column);
  width: 100%;
}

.user {
  @include flexCenter(row);
  width: 100%;
  height: 120px;
  justify-content: space-between;
  background-color: $lighter-primary;

  &-pic{
    width: 80px;
    margin-left: 20px;
  }

  &-info{
  @include flexCenter(row);
  justify-content: space-evenly;
  width: calc(100% - 80px);
    p{
      width: 70%;
      text-align: center;
    }
    div {
      width: 30%;
    }
  }
}

.other-user {
  @extend .user;
  background-color: $lighter-secondary;
}