@import '../config';

@mixin auth-container {
  @include flexCenter(column);
  height: 25%;
  justify-content: space-evenly;
}

@mixin mobile-auth-container {
  width: 100%;
}

#auth {
  height: 100vh;
  @include set-background($secondary-color);
  @include flexCenter(row);
  justify-content: space-evenly;

  #{&}-input-container {
    width: 50%;
    @include auth-container;
    input {
      height: 25%;
      width: 100%;
      text-align: center;
    }
  }

  #{&}-btn-container {
    width: 20%;
    @include auth-container;
    button {
      width: 80%;
      height: 35%;
    }
  }

  @include mobile{
    @include flexCenter(column);
    justify-content: center;

    #auth-input-container {
      @include mobile-auth-container;
      input {
        width: 50%;
      }
    }
    
    #auth-btn-container {
      @include mobile-auth-container;
      button {
        width: 30%;
      }
    }
  }
}

