* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#auth {
  height: 100vh;
  background-color: #E56B6F;
  color: #FCFBEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly; }
  #auth #auth-input-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25%;
    justify-content: space-evenly; }
    #auth #auth-input-container input {
      height: 25%;
      width: 100%;
      text-align: center; }
  #auth #auth-btn-container {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25%;
    justify-content: space-evenly; }
    #auth #auth-btn-container button {
      width: 80%;
      height: 35%; }
  @media (max-width: 600px) {
    #auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      #auth #auth-input-container {
        width: 100%; }
        #auth #auth-input-container input {
          width: 50%; }
      #auth #auth-btn-container {
        width: 100%; }
        #auth #auth-btn-container button {
          width: 30%; } }

#home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

#nav {
  background-color: #E56B6F;
  color: #FCFBEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 8%; }
  #nav a {
    color: inherit; }

#links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%; }

#hero {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 92%; }

#profile {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background-color: #5F92BF;
  color: #FCFBEE;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 25%; }

#user-logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 100%; }
  #user-logout button {
    width: 50%;
    height: 10%; }

#username {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 20%; }

#profile-pic {
  width: 200px; }

#showcase {
  height: 100%;
  width: 75%; }

@media (max-width: 600px) {
  #links {
    justify-content: space-around;
    width: 70%; }
  #hero {
    display: flex;
    align-items: center;
    flex-direction: column; }
  #profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 25%;
    width: 100%; }
  #user-logout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 100%; }
    #user-logout button {
      width: 50%;
      height: 20%; }
  #username {
    width: 65%;
    height: 100%; }
  #profile-pic {
    width: 100px; }
  #showcase {
    height: 75%;
    width: 100%; } }

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px; }
  .btn-primary:hover, .btn-secondary:hover {
    transform: scale(0.95);
    background-color: #FCFBEE; }

.btn-primary {
  background-color: #a8c4dc; }

.btn-secondary {
  background-color: #f4c2c3; }
