* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#auth {
  height: 100vh;
  background-color: #E56B6F;
  color: #FCFBEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly; }
  #auth #auth-input-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25%;
    justify-content: space-evenly; }
    #auth #auth-input-container input {
      height: 25%;
      width: 100%;
      text-align: center; }
  #auth #auth-btn-container {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 25%;
    justify-content: space-evenly; }
    #auth #auth-btn-container button {
      width: 80%;
      height: 35%; }
  @media (max-width: 600px) {
    #auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      #auth #auth-input-container {
        width: 100%; }
        #auth #auth-input-container input {
          width: 50%; }
      #auth #auth-btn-container {
        width: 100%; }
        #auth #auth-btn-container button {
          width: 30%; } }

#home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

#nav {
  background-color: #E56B6F;
  color: #FCFBEE; }
  #nav a {
    color: inherit; }

@media (max-width: 600px) {
  #nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%; }
  #profile {
    display: flex;
    align-items: center;
    flex-direction: row; }
  #profile-pic {
    width: 30%; } }

.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 16px; }
  .btn-primary:hover, .btn-secondary:hover {
    transform: scale(0.95);
    background-color: #FCFBEE; }

.btn-primary {
  background-color: #a8c4dc; }

.btn-secondary {
  background-color: #f4c2c3; }
